<h1>Add a Car</h1>

<form action="/flowers" method="post">
  <input type="text" name="name" placeholder="Name of flower">
  <input type="text" name="color" placeholder="Color of flower">
  <input type="submit" value="Add Flower">
</form>